---
# handlers file for ansible-dnscrypt

# DNSMasq
- name: Restart dnsmasq
  service: name=dnsmasq state=restarted
  become: yes
  when: dnscrypt_on_pihole

# No SystemD
- name: Run 'dnscrypt-proxy -service restart'
  command: "{{ dnscrypt_bin }} -service restart"
  become: yes
  when: not dnscrypt_systemd.stat.exists

# SystemD
- name: Make sure built-in dnscrypt-proxy service is stopped, runing 'dnscrypt-proxy -service stop'
  command: "{{ dnscrypt_bin }} -service stop"
  become: yes
  listen: Restart dnscrypt-proxy.socket systemd unit
  when: dnscrypt_systemd.stat.exists

- name: Make sure dnscrypt-proxy.service is stopped before restarting dnscrypt-proxy.socket
  service: name=dnscrypt-proxy.service state=stopped
  become: yes
  listen: Restart dnscrypt-proxy.socket systemd unit
  when: dnscrypt_systemd.stat.exists

- name: Reload systemd daemon
  systemd: daemon_reload=yes
  become: yes
  listen: Restart dnscrypt-proxy.socket systemd unit
  when: dnscrypt_systemd.stat.exists

- name: Restart dnscrypt-proxy.socket
  service: name=dnscrypt-proxy.socket enabled=yes state=restarted
  become: yes
  listen: Restart dnscrypt-proxy.socket systemd unit
  when: dnscrypt_systemd.stat.exists
...
